* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 10px 35px;
    display: flex;
    background-color: blue;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;

}
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
header a {
    text-decoration: none;
}
header nav {
    margin: 5px;
    flex-wrap: wrap;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a {
    font-size: 20px;
    padding: 10px 15px;
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    justify-content: center;
    /* height: 100%; */
    /* width: 100%; */
}
.about-section {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    

}
.about {
    background-color: gray;
    margin: 5px;
    display: flex;
    flex: .25;
    border-right: 7px solid rgb(0, 0, 0);
    justify-content: flex-end;
}
.about h2 {
    display: flex;
    padding: 5px 20px;
    font-size: 35px;
}
.bio-section {
    margin: 5px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: red;
}
.bio-img {

    height: 400px; 
    margin: 5px;
    display: flex;
    border-radius: 20px;
    /* background-color: aquamarine; */
    border: 5px solid rgb(0, 0, 0);
}
.bio-text {
    background-color: blueviolet;
    display: flex;
    margin: 5px;
    padding: 5px;
    flex: 2;
    align-items: center;
    /* justify-content: center; */
}
.bio-text p {
    padding: 20px;
}
.work-section {
    margin: 5px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}
.work {
    background-color: pink;
    margin: 5px;
    display: flex;
    flex: .25;
    border-right: 7px solid rgb(0, 0, 0);
    justify-content: flex-end;
}
.work h2 {
    display: flex;
    padding: 5px 20px;
    font-size: 35px;
}
.project-section {
    margin: 5px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    
}
.run-buddy {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.run-buddy img{
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
    height: 400px;
    width: 100%;
}
.to-come {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
}
.to-come img {
    margin: 5px;
    display: flex;
    height:200px;
}
.contact-me {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
}
.contact {
    background-color: white;
    margin: 5px;
    display: flex;
    flex: .21;
}